@import '../../../../sass/modules/mixins.scss';

.wrap {
    .skill-header {
        display: flex;
        position: relative;
        margin-bottom: 3rem;
        .skill-title {
            text-align: left;
            width: 100%;
            display: flex;
            justify-content: left;
            flex: 0 0 66.333%;
            max-width: 66.333%;
            right: 33.33333%;
            position: relative;
            .title {
                margin: 0;
                line-height: 1;
                height: 38.4px;
                font-size: 2rem;
            }
        }
        .skill-settings {
            display: flex;
            justify-content: end;
            width: 100%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            left: 66.66666%;
            position: relative;
            .button-add-skill, .button-widget {
                display: flex;
                justify-content: end;
                align-items: center;
                .btn-add-skill {
                    background-color: #0070FF;
                    color: #fff;
                    border-color: #CDE1F5;
                    margin: 0;
                    cursor: pointer;
                    border-width: 1px;
                    border-style: solid;
                    -webkit-appearance: none;
                    border-radius: 3px;
                    white-space: nowrap;
                    box-sizing: border-box;
                    line-height: 2;
                    padding: 0 12px 2px;
                    font-size: 14px;
                    height: 38.4px;
                    width: 75px;
                }
            }

            .button-widget {
                display: none;
                .btn-open-widget {
                    color: #555d66;
                    border: none;
                    margin: 0;
                    cursor: pointer;
                    line-height: 2;
                    padding: 0 12px;
                    height: 36px;
                    background: transparent;
                }
            }
        }
    }
    
    .content-skill {
        position: relative;
        display: flex;
        height: 100%;
        .content-edit {
            width: 100%;
            position: relative;
            .title, .percentage {
                text-align: left;
                margin-bottom: 2rem;
                label {
                    margin-bottom: 1rem;
                }
                input {
                    width: 100%;
                    height: 45px;
                    padding: 10px;
                }
            }
        }

        .content-widget {
            position: relative;
            right: 0;
            top: 39.4px;
            max-width: 300px;
            margin-left: 20px;
            height: 100%;
            width: 100%;
        }
    }
}

@include breakpoint(tactil) {
    .wrap {
        .skill-header {
            .skill-title {
                .title {
                    font-size: 1.9rem;
                }
            }
            .skill-settings {
                .button-widget {
                    display: flex;
                }
            }
        }

        .content-skill {
            .content-edit {
                width: 100%;
                margin-right: 0px;
                transition: margin-right 1s;
                &.active {
                    transition: margin-right 1s;
                    margin-right: 320px;
                }
            }
            .content-widget {
                display: none;
            }
        }
    }
}

@include breakpoint(mobile) {
    .wrap {
        .skill-header {
            display: block;
            position: relative;
            margin: -20px -20px 3rem -20px;
            .skill-title {
                text-align: left;
                width: 100%;
                display: flex;
                justify-content: left;
                max-width: 100%;
                right: 0;
                padding: 10px 20px;
                position: relative;
            }
            .skill-settings {
                display: flex;
                justify-content: end;
                width: 100%;
                position: relative;
                padding: 10px 20px;
                background-color: white;
                border-bottom: 1px solid #e2e4e7;
                max-width: 100%;
                left: 0;
            }
        }
    }
}