@import '../../../../sass/modules/mixins.scss';

.sidebar-widget {
    display: none;
}

@include breakpoint(tactil) {
    .sidebar-widget::before {
        display: none;
    }

    .sidebar-widget {
        display: block;
        width: 0px;
        position: absolute;
        visibility: hidden;
        transition: all 1s;
        background-color: white;
        right: 0;
        z-index: 1;
        height: calc(100vh - 2.44rem);
        top: 0;
        bottom: 0; 
        &.active {
            visibility: visible;
            transition: all 1s;
            right: 0px;
            width: 320px;
            .content-widget-sidebar {
                width: 100%;
            }
        }

        .button-widget {
            padding: 20px;
            .btn-close-widget {
                color: #555d66;
                border: none;
                margin: 0;
                cursor: pointer;
                line-height: 2;
                padding: 0 12px;
                height: 36px;
                background: transparent;
            }
        }
    
        .content-widget-sidebar {
            position: relative;
            right: 0;
            top: 76.4px;
            padding: 0 20px;

            .btn-close-widget {
                color: #555d66;
                border: none;
                margin: 0;
                cursor: pointer;
                line-height: 2;
                padding: 0 12px;
                height: 36px;
                background: transparent;
                top: -89px;
                right: -243px;
            }
    
            .label-widget {
                font-size: 13px;
                width: 100%;
                text-align: left;
            }
    
            .input-widget {
                width: 100%;
                padding: 2px 10px;
            }
        }
    }

    .sidebar-widget-about {
        height: 100%;
        .content-widget-sidebar {
            top: 148.4px;         
        }
    }
}


@include breakpoint(mobile) {
    .sidebar-widget {
        position: fixed;
        top: 40px;
        right: 0px;
        &.active {
            width: 100%;
            right: 0;
            padding-left: 55px; 
            
            .button-widget {
                padding: 12px 20px;
                height: 60px;
                margin-bottom: 3rem;
            }

            .content-widget-sidebar {
                width: 100%;
                padding: 0 20px;
                max-width: 500px;
                margin: 0 auto;   
                top: 0;
            }
        }
    }
}
