@import '../../../../sass/modules/mixins.scss';

.success-message {
    position: relative;
    width: 100%;
    display: block;
    height: 42px;
    line-height: 42px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.info-message {
    position: relative;
    width: 100%;
    display: block;
    height: 42px;
    line-height: 42px;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.category-skill {
    overflow: initial !important;
    .category-skill-header {
        position: relative;
        margin-bottom: 3rem;
        .category-skill-title {
            text-align: left;
            width: 100%;
            justify-content: left;
            flex: 0 0 66.333%;
            max-width: 66.333%;
            right: 33.33333%;
            position: relative;
            .title {
                margin: 0;
                line-height: 1;
            }
        }
        .category-skill-settings {
            width: 100%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            left: 66.66666%;
            position: relative;
            .button-add-category-skill {
                .btn-add-category-skill {
                    background-color: #0070FF;
                    color: #fff;
                    border-color: #CDE1F5;
                    margin: 0;
                    cursor: pointer;
                    border-width: 1px;
                    border-style: solid;
                    -webkit-appearance: none;
                    border-radius: 3px;
                    white-space: nowrap;
                    box-sizing: border-box;
                    line-height: 2;
                    padding: 0 12px 2px;
                    font-size: 14px;
                    height: 38.4px;
                    width: 75px;
                }
            }
        }
    }
    
    .content-category-skill {
        position: relative;
        .content-edit {
            width: 65%;
            position: relative;
            h2 {
                margin-bottom: 1.55rem;
                justify-content: left;
                font-weight: 600;
                text-align: left;
            }
            .name-category-skill, .slug-category-skill {
                text-align: left;
                margin-bottom: 2rem;
                label {
                    margin-bottom: 1rem;
                }
                input {
                    width: 100%;
                    height: 45px;
                    padding: 10px;
                }
            }
        }

        .content-table {
            position: relative;
            right: 0;
            margin-left: 20px;
            height: 100%;
            width: 100%;
            h2 {
                margin-bottom: 0.9rem;
                justify-content: left;
                font-weight: 600;
                text-align: left;
            }

            .action-select {
                align-items: center;
                height: 50px;
                .btn-apply {
                    margin: 0;
                    cursor: pointer;
                    border-width: 1px;
                    border-style: solid;
                    -webkit-appearance: none;
                    border-radius: 3px;
                    white-space: nowrap;
                    box-sizing: border-box;
                    line-height: 2;
                    padding: 0 12px;
                    font-size: 14px;
                    height: 34px;
                    width: 80px;
                    margin-left: 10px;
                    color: #0071a1;
                    border-color: #0071a1;
                    background: #f3f5f6;
                }
            }
            .table {
                .table-head {
                    .table-row {
                        .checkbox {
                            width: 45px;
                            min-width: 45px !important;
                        }
                    }       
                }
               
                .table-body {
                    .table-row {
                        &:nth-child(2n+1) {
                            background-color: #f9f9f9;
                        }
        
                        &:hover {
                            .table-data-cell {
                                .actions {
                                    opacity: 1;
                                }
                            }
                        }
        
                        .table-data-cell {
                            .item {
                                color: #353c52;
                            }
                            .actions {
                                font-size: 13px;
                                padding: 2px 0 0;
                                position: relative;
                                opacity: 0;
                                .update {
                                    a {
                                         color: green;
                                         font-size: 13px;
                                    }
                                   
                                    padding-right: 5px;
                                }
                                .delete {
                                    color: red;
                                    .btn-open-modal {
                                        font-size: 13px;
                                        padding: 0;
                                        height: 20px;
                                        color: red;
                                        background-color: transparent;
                                        border: none;
                                    }

                                    .modal-category-skill {
                                        .modal-container {
                                            padding: 0 60px 25px;
                                            @include breakpoint(tactil) {
                                                max-width: 450px;
                                                margin: auto;
                                            }

                                            @media (max-width: 500px) {
                                                padding: 0 20px 25px;
                                            }
                                
                                            .modal-icon {
                                                text-align: center;
                                                margin: 15px 0;
                                                justify-content: center;
                                                svg {
                                                    @include size(55px, 55px);
                                                    color: #e53b5b;
                                                }
                                            }
                                
                                            .modal-description {
                                                @include font(14px, 1.29, normal, normal);
                                                margin-bottom: 15px;
                                                color: #5c6f84;
                                            }
                                
                                            .modal-button {
                                                min-width: 186px;
                                                width: 100%;
                                                height: 40px;
                                                max-width: 270px;
                                                margin: 0 auto 10px;
                                                &.delete-btn {
                                                    background-color: #e53b5b;
                                                    border-color: #e53b5b;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
        
                        .checkbox {
                            width: 45px;
                            min-width: 45px !important;
                        }
                    }
                } 
            }
        }
    }
}

@include breakpoint(tactil) {
    .wrap {
        .content-category-skill {
            .content-edit {
                width: 100%;
                margin-right: 0px;
                transition: margin-right 1s;
                &.active {
                    transition: margin-right 1s;
                    margin-right: 320px;
                }
            }
        }
    }
}

@media(max-width: 900px) {
    .wrap {
        .content-category-skill {
            display: block;
            .content-table {
                margin-left: 0;
                top: 0;
                margin-top: 3rem;
            }
        }
    }
}

@include breakpoint(mobile) {
    .category-skill {
        padding: 20px 15px !important;
        overflow: hidden !important;
        .category-skill-header {
            display: block;
            position: relative;
            margin: -20px -20px 3rem -20px;
            .category-skill-title {
                max-width: 100%;
                right: 0;
                padding: 10px 20px;
                position: relative;
            }
            .category-skill-settings {
                padding: 10px 20px;
                background-color: white;
                border-bottom: 1px solid #e2e4e7;
                max-width: 100%;
                left: 0;
            }
        }

        .content-category-skill {
            .content-table {
                .action-select {
                    .btn-apply {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}