@import '../../../../../sass/modules/mixins.scss';

.success-message {
    position: relative;
    width: 100%;
    display: block;
    height: 42px;
    line-height: 42px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.wrap {
    .update-category-project-header {
        position: relative;
        margin-bottom: 3rem;
        .update-category-project-title {
            text-align: left;
            width: 100%;
            justify-content: left;
            flex: 0 0 66.333%;
            max-width: 66.333%;
            right: 33.33333%;
            position: relative;
            .title {
                margin: 0;
            }
        }
        .update-category-project-settings {
            width: 100%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            left: 66.66666%;
            position: relative;
            .button-update-category-project {
                .btn-update-category-project {
                    background-color: #0070FF;
                    color: #fff;
                    border-color: #CDE1F5;
                    margin: 0;
                    cursor: pointer;
                    border-width: 1px;
                    border-style: solid;
                    -webkit-appearance: none;
                    border-radius: 3px;
                    white-space: nowrap;
                    box-sizing: border-box;
                    line-height: 2;
                    padding: 0 12px 2px;
                    font-size: 14px;
                    height: 38.4px;
                    width: 75px;
                }
            }
        }
    }
    
    .content-update-category-project {
        position: relative;
        .content-edit {
            width: 100%;
            position: relative;
            max-width: 800px;
            .name-update-category-project, .slug-update-category-project {
                text-align: left;
                margin-bottom: 2rem;
                label {
                    margin-bottom: 1rem;
                }
                input {
                    width: 100%;
                    height: 45px;
                    padding: 10px;
                }
            }
        }
    }
}

@include breakpoint(tactil) {
    .wrap {
        .content-update-category-project {
            .content-edit {
               max-width: 100%;
            }
        }
    }
}

@include breakpoint(mobile) {
    .wrap {
        .update-category-project-header {
            display: block;
            margin: -20px -20px 3rem -20px;
            .update-category-project-title {
                right: 0;
                padding: 10px 20px;
                max-width: 100%;
            }
            .update-category-project-settings {
                padding: 10px 20px;
                background-color: white;
                border-bottom: 1px solid #e2e4e7;
                max-width: 100%;
                left: 0;
            }
        }
    }
}