.table-container {
    overflow: auto;
    .table {
        width: 100%;
        display: table;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }
}