
.widget {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    .label {
        font-weight: 600;
        font-size: 13px;
        border: none;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        transition: box-shadow .1s linear;
        height: 45px;
        padding: 10px;
        border-radius: 0;
        justify-content: left;
        display: flex;
        align-items: center;
        margin: 0;
    }
    .box {
        .box-container {
            padding: 10px;
        }
    }
}