.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.stylesH1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    letter-spacing: -1.8px;
}

.stylesH2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: -1.4px;
}

.stylesH3 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: -1.2px;
}

.stylesH4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: -0.8px;
}

.stylesH5 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: -0.6px;
}

.stylesH6 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: -0.2px;
}