.list {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    .list-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .title {
            display: inline-flex;
            width: 70%;
            font-size: 18px;
        }
        .category {
            display: inline-flex;
            width: 30%;
            font-size: 18px;
        }
    }
    .list-body {
        flex: 1 1 auto;
        .list-body-container {
            .list-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 20px;
                flex-wrap: wrap;
                position: relative;
                width: 100%;
                min-height: 1px;
                max-width: 100%;
                &:nth-child(2n+1) {
                    background-color: #f9f9f9;
                }
                &:hover {
                    .list-item {
                        .actions {
                            opacity: 1;
                        }
                    }
                }
                .list-item {
                    font-size: 15px;
                    font-weight: normal;
                    letter-spacing: normal;
                    text-align: left;
                    .item {
                        line-height: 1.5;
                        color: #353c52;
                        margin: 6px auto;
                        vertical-align: top;
                    }
                    .actions {
                        font-size: 13px;
                        padding: 2px 0 0;
                        display: flex;
                        position: relative;
                        opacity: 0;
                        .update {
                            color: green;
                            padding-right: 5px;
                        }
                        .delete {
                            color: red;
                        }
                    }
                }
                .list-item.title {
                    width: 70%;
                    .item {
                        font-weight: 600;
                    }
                }
                .list-item.category {
                    width: 30%;
                    line-height: 45.5px;
                }
            }
        }
    }
}